<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Beranda | CodePen</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="shortcut icon" href="../assets/gambar/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="navbar-brand">
            <img src="../../assets/gambar/logo.png" width="70" height="70">
            <h2>CofeeShop</h2>
        </div>
        
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Beranda</a>
                </li>
                <li>
                    <a href="./daftar-menu.html">Daftar Menu</a>
                </li>
                <li>
                    <a href="">Tentang</a>
                </li>
                <li>
                    <a href="">Portfolio</a>
                </li>
            </ul>
        </nav>
    </header>
    <script src="../assets/js/index.js"></script>
</body>

</html>